@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body{
  background-color: rgb(236, 231, 231);
}

.App {
  text-align: center;
}

.App-header {
  background-color: hsl(208, 74%, 45%);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 3em;
  font-family: 'Source Sans Pro', sans-serif;
  
}

